/*to achieve espected result */
*{
    box-sizing: border-box;
}
html,body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(209, 149, 139);
}
/* designing header text*/
header, footer{
    background-color: brown;
}
header{
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    line-height: 25%;
    color: white;
    height: 200px;
}
header h1, header h3{
    text-align: center;
}
header h1 a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
/* designing navigation bars */
.nav-bar{
    position: relative;
    display: inline-block;
}
.nav-content{
    height: 0px;
    transition: height 1.5s;
    height: 0px;
    position: absolute;
    width: 100%;
    box-shadow: 0 18px 36px blue;
    overflow: hidden;
    background-color: rgb(233, 169, 169);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.nav-content a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    z-index: 2;
    margin: 0px;    
}
.nav-bar:hover > .nav-content{
    height: 200px;
}  
.nav-btn{
    color: white;
    margin-top: 50px;
    position: relative;
    padding: 20px 30px 0px;
    border: none;
    background-color: brown;
}
/* Designing body */
.van-pics{
margin-top: 10px;
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
}
/*Designing Footer */
footer{
    height: 150px;
    margin: 0px;
    position: relative;
}
.f-text{
    font-size: 30px;
    font-weight: 800;
    color: white;
}
.copy-right{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    left: 40%;
}